<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinPilot AI</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<nav class="navbar">
    <h2>FinPilot AI 🚀</h2>

    <div class="nav-links">
        <a href="#">Home</a>
        <a href="#">Features</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>

<section class="hero">

    <div class="hero-text">

        <h1>Manage Your Money Smarter with AI</h1>

        <p>
            Track expenses, monitor income,
            create budgets and get AI-powered
            financial insights.
        </p>

        <button>Get Started</button>

    </div>

</section>

</body>
</html>